.header {
  background: skyblue;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-image: url("http://wallportal.com/uploads/posts/winter-forest-desktop-wallpaper/winter_forest_desktop_wallpaper_015.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  padding: 10px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  background-color: lightskyblue;
  justify-content: space-around;
}

.item-container > div {
  background-color: white;
  width: 20rem;
  margin: 10px;
  line-height: 1.25rem;
  font-size: 15px;
  align-content: center;
  padding: 10px;
  font-family: 'Handlee', cursive;
  color: darkcyan; 
}

/* TODO: size images manually so this is not necessary */

img {
  align-content: space-around;
  max-height: 15rem;
}

/***************** NAV *****************/
.nav {
  font-size: 1rem;
}
nav a:hover {
  text-decoration:underline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cadetblue;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: skyblue;
}

.active {
    background-color: lightblue;
}

/**************** HERO *****************/
header {
  background: skyblue;
}

div.header-txt {
    text-align: left;
    color: cadetblue;
    padding-top: 15px;
    font-family: 'Kavivanar', cursive;
    font-size: 4rem;
}

section {
  padding: 0 .75rem;
}

h1 {
  font-size: 5rem;
  display: inline;
}

h2 {
  padding-top: 1.5rem;  
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
  font-size: 100px;
  font-family: 'Kavivanar', cursive; 
}

h3 {
  font-size: 2rem;
  text-align: center;
  flex: auto;
  color: teal;
  padding-bottom: 10px;
}

p.price {
  text-align: right;
}

footer {
  background-color: skyblue;
  background-size: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
  font-family: 'Kavivanar', cursive;
}

address {
  color: teal;
  text-align: center;
}
label {
  float: right;
  font-family: monospace;
  padding-right: 50px;
}