.header {
  background: skyblue;
}

/* added media queries */
@media screen and (max-width: 1600px) { 
  h1 {
  color: #363b74;  
  font-size: 5em;
}
  p {
    font-size: 16px;
    color: #2ACACE;
  }
  #cart {
    font-size: 11px;
    color: 2ACACE;
  }
  i.fa-shopping-cart {
    color: lightblue;
    padding-top: 12px;
    padding-left: 10px;
  }
@media (min-width: 1200px) and (max-width: 1601px) {
  h1 {
    color: #2ACACE;
    font-size: 3em;
    text-shadow:
    /* Outline */
    -1px -1px 0 #f7fbfb,
    1px -1px 0 #f7fbfb,
    -1px 1px 0 #f7fbfb,
    1px 1px 0 #f7fbfb,  
    -2px 0 0 #f7fbfb,
    2px 0 0 #f7fbfb,
    0 2px 0 #f7fbfb,
    0 -2px 0 #f7fbfb;
  }}

p {
  font-size: 18px;
  line-height: 25px;
  color: #363b74;
}
}
 /* added flexbox */ 
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-image: url("http://wallportal.com/uploads/posts/winter-forest-desktop-wallpaper/winter_forest_desktop_wallpaper_015.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  padding: 10px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  background-color: lightskyblue;
  justify-content: space-around;
}

.item-container > div {
  background-color: white;
  width: 20rem;
  margin: 10px;
  line-height: 1.25rem;
  font-size: 15px;
  align-content: center;
  padding: 10px;
  font-family: 'Handlee', cursive;
  color: darkcyan; 
}

/* images */

img {
  align-content: center;
  max-height: 10rem;
}

/***************** NAV *****************/
.nav {
  font-size: 1rem;
}
nav a:hover {
  text-decoration:underline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cadetblue;
}

li {
    float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: skyblue;
}

.active {
  background-color: lightblue;
}

/**************** Header *****************/
header {
  background: skyblue;
}

div.header-txt {
  text-align: left;
  color: cadetblue;
  padding-top: 15px;
  font-family: 'Kavivanar', cursive;
  font-size: 4rem;
}

section {
  padding: 0 .75rem;
}

h1 {
  font-size: 5rem;  
}

h2 {
  padding-top: .5rem;  
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
  text-align: center;
  font-size: 40px;
  font-family: 'Kavivanar', cursive; 
}

h3 {
  font-size: 2rem;
  text-align: center;
  flex: auto;
  color: teal;
  padding-bottom: 10px;
}

p.price {
  text-align: right;
  font-family: cursive;
}

footer {
  background-color: skyblue;
  background-size: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
  font-family: 'Kavivanar', cursive;
}

form {
    align-content: center;
}
  
address {
  color: teal;
  text-align: center;
}

label {
    text-align: center;
    color: teal;
    padding-left: 15px;
}
